<div class=”container”>
  <div class="reglist">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Idade</th>
          <th>Sexo</th>
          <th>Peso(Kg)</th>
          <th>Altura</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registration of this.service.registrations; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ registration.nome }}</td>
          <td>{{ registration.idade }}</td>
          <td>{{ registration.sexo}}</td>
          <td>{{ registration.peso }}</td>
          <td>{{ registration.altura }}</td>
          <td>
            <button type="button" class="btn btn-info" (click)="onEdit(i)">Editar</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="onDelete(registration.id)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-right">
      <button type="submit" class="btn btn-primary" (click)="onNew()">Adicionar</button>
    </div>
  </div>
  <br>
  <div class="regentry" *ngIf="showNew" >
    <form (ngSubmit)="onSave()" #personForm="ngForm">
      <div class="form-group row">
        <label for="Nome-input" class="col-2 col-form-label">Nome</label>
        <div class="col-4">
          <input class="form-control" type="text" [(ngModel)]="regModel.nome" required name="nome" #inputNome="ngModel">
          <div *ngIf="inputNome.invalid" class="alert alert-danger">
            Nome é obrigatório
          </div>
        </div>

      </div>
      <div class="form-group row">
        <label for="Idade-input" class="col-2 col-form-label">Idade</label>
        <div class="col-2">
          <input class="form-control" currencyMask [options]="{ prefix: '',thousands: '', decimal: '', allowNegative: false, precision: '0' }" [(ngModel)]="regModel.idade" name="idade" required #inputIdade="ngModel">
          <div *ngIf="inputIdade.invalid" class="alert alert-danger">
            Idade é obrigatória
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="Peso-input" class="col-2 col-form-label">Peso</label>
        <div class="col-2">
          <input class="form-control" currencyMask [options]="{ prefix: '',thousands: '', decimal: '.', allowNegative: false }" [(ngModel)]="regModel.peso" name="peso" required #inputPeso="ngModel">
          <div *ngIf="inputPeso.invalid" class="alert alert-danger">
            Peso é obrigatório
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="Altura-input" class="col-2 col-form-label">Altura</label>
        <div class="col-2">
          <input class="form-control" currencyMask [options]="{ prefix: '',thousands: '', decimal: '.', allowNegative: false }"  
          [(ngModel)]="regModel.altura" name="altura">
        </div>
      </div>
      <div class="form-group row">
        <label for="Sexo-input" class="col-2 col-form-label">Sexo</label>
        <div class="col-2 dropdown" ngbDropdown myDrop="ngbDropdown">
          <button type="button" class="btn btn-outline-primary" id="dropdownManual" name="sexo"
            ngbDropdownToggle>{{regModel.sexo}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <button type="button" class="dropdown-item" *ngFor="let sexo of sexos"
              (click)="onChangeSexo(sexo)">{{sexo}}</button>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!personForm.valid">{{submitType}}</button>
      <button type="submit" class="btn btn-primary" (click)="onCancel()">Cancelar</button>
    </form>
  </div>
</div>