<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/registration">Lista de Pessoas</a>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
  <form class="form-inline my-2 my-lg-0">
  </form>
  </div>
  </nav>