<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Lista de pessoas
  </h1>
<app-navbar></app-navbar>
<router-outlet></router-outlet>
</div>